@import url(https://db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi+V2);

.Header {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

  font-family: 'Star Jedi V2', sans-serif;
  color: #ffe81f;
  margin-bottom: 24px;
}
